<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>农产品界面</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<!--轮播图-->
<div class="layui-carousel" id="test1">
    <div carousel-item>
        <div><img id="carousel" src="/static/img/products/pc1.png"></div>
        <div><img id="carousel" src="/static/img/products/pc2.png"></div>
        <div><img id="carousel" src="/static/img/products/pc3.png"></div>
        <div><img id="carousel" src="/static/img/products/pc4.png"></div>
        <div><img id="carousel" src="/static/img/products/pc5.png"></div>
    </div>
</div>
<div  id="product" target="main"></div>
<div style="margin-left:500px;">
    <div id="layuipage"></div>
</div>
<script type="application/javascript" src="/static/layui/layui.js"></script>
<script type="application/javascript" src="/static/js/product/farmProduct.js"></script>
</body>
</html>