<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui结合echarts展示图表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body>
<!-- 月内各周_销售额 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div id="div_sale_chart" style="width: 600px;height:400px;"></div>
    </div>
</div>
<!-- 销售额：广告费用 -->
<div class="layui-card">
    <div class="layui-card-body">
        <div id="div_compare_chart" style="width: 600px;height:400px;"></div>
    </div>
</div>

<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/echarts.js"></script>
<script type="text/javascript" src="/static/js/analysis/analysis.js"></script>
</body>
</html>
