body {
    background-image: url("/static/img/registBackgroundImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
/*输入框透明*/
.layui-form-item .layui-input-block input{
    background-color: transparent;
    border: 0px;
}

.layui-form{
    width: 30%;
    margin-top: 120px;
}





