<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎界面</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body background="/static/img/afterLoginBackgroundImg.jpg" style=" background-repeat:no-repeat ;background-size:100% 100%;
background-attachment: fixed;">
<div style="font-size: 22px">
    欢迎进入后台权限管理系统
</div>
<br>
<a href="/index" class="layui-btn">返回主页</a>
</body>
<script type="text/javascript" src="/static/layui/layui.js"></script>
</html>