<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加政策</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body>

<form class="layui-form" action="/policy/addPolicy" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">政策名称</label>
        <div class="layui-input-block">
            <input type="text" name="policyTitle" lay-verify="title" lay-reqtext="不能为空哦" autocomplete="off" placeholder="请输入政策名称"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">政策内容</label>
        <div class="layui-input-block">
            <textarea id="txtComment"cols="20" rows="2"class="ckeditor layui-input" name="policyContent" lay-reqtext="不能为空哦" placeholder="请输入政策内容" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">发布人</label>
        <div class="layui-input-block">
            <input type="text" name="publisher" lay-verify="required" autocomplete="off" placeholder="请输入发布人"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">政策种类</label>
        <div class="layui-input-block">
            <select name="policyKind" lay-verify="required">
                <option value=""></option>
                <option value="0">水果</option>
                <option value="1">农政策</option>
                <option value="2">家畜</option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">访问量</label>
        <div class="layui-input-block">
            <input type="text" name="viewed" lay-verify="number" autocomplete="off" placeholder="请输入访问量"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">来源</label>
        <div class="layui-input-block">
            <input type="text" name="source" lay-verify="required" autocomplete="off" placeholder="请输入来源"
                   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit_user">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script src="/static/layui/layui.js" charset="utf-8"></script>

<script src="/static/js/policy/addPolicy.js"></script>

</body>
</html>