<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>政策界面</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<div  id="policy" target="main"></div>
<div style="margin-left:500px;">
    <div id="layuipage"></div>
</div>
<script type="application/javascript" src="/static/layui/layui.js"></script>
<script type="application/javascript" src="/static/js/policy/policyList1.js"></script>
</body>
</html>