<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.povertyalleviation.dao.RoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lx.povertyalleviation.pojo.Role">
        <id column="id" property="id" />
        <result column="roleName" property="roleName" />
        <result column="roleDesc" property="roleDesc" />
        <result column="account" property="account" />
        <result column="roleId" property="roleId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, roleName, roleDesc, account, roleId
    </sql>
    <select id="findRoleByAccount" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"></include> from role where account=#{account}
    </select>

    <insert id="addRoleInfo" parameterType="String">
        insert into role(roleName, roleDesc,account,roleId) value ('ROLE_USER','普通用户',#{account},2)
    </insert>
</mapper>
